In [ ]:
import pandas as pd

# List of file names
file_names = ['Mens Basketball 21-22 NCAA Statistics.xlsx', 'Mens Basketball 20-21 NCAA Statistics.xlsx',
              'Mens Basketball 19-20 NCAA Statistics.xlsx', 'Mens Basketball 18-19 NCAA Statistics.xlsx',
              'Mens Basketball 17-18 NCAA Statistics.xlsx', 'Mens Basketball 16-17 NCAA Statistics.xlsx',
              'Mens Basketball 15-16 NCAA Statistics.xlsx', 'Mens Basketball 14-15 NCAA Statistics.xlsx',
              'Mens Basketball 13-14 NCAA Statistics.xlsx', 'Mens Basketball 12-13 NCAA Statistics.xlsx',
              'Mens Basketball 11-12 NCAA Statistics.xlsx', 'Mens Basketball 10-11 NCAA Statistics.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Extract year from filename and prepend "20" to it
        year = "20" + file_name.split(' ')[-3].split('-')[0]

        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Add a column for the year extracted from the filename
        df['Year'] = year

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data_MB.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx

In [ ]:
df

      Rank                        Team   W   L   Pct.  Year
0        1            Louisville (ACC)  32   1  0.970  2021
1        2                   BYU (WCC)  30   2  0.938  2021
2        3          Western Ky. (CUSA)  28   2  0.933  2021
3        4              Texas (Big 12)  27   2  0.931  2021
4        5         Wisconsin (Big Ten)  31   3  0.912  2021
...    ...                         ...  ..  ..    ...   ...
3590   316             N.C. A&T (MEAC)   2  27  0.069  2011
3591   318               Alcorn (SWAC)   2  29  0.065  2011
3592   319  St. Francis Brooklyn (NEC)   1  31  0.031  2011
3593   320         Savannah St. (MEAC)   0  27  0.000  2011
3594   320        Saint Peter's (MAAC)   0  31  0.000  2011

[3595 rows x 6 columns]

In [ ]:
import statistics

# Read the merged data
df = pd.read_excel("merged_data.xlsx")

# Group by team and calculate mean, median, mode, and standard deviation of rank
team_stats = df.groupby('Team')['Rank'].agg(['mean', 'median', lambda x: statistics.mode(x), 'std']).reset_index()

# Rename the lambda function column to 'mode'
team_stats = team_stats.rename(columns={'<lambda_0>': 'mode'})

# Sort by median rank in ascending order
team_stats = team_stats.sort_values(by='mean')

print("Mens Basketball Statistics for Each Team:")
print(team_stats)

Mens Basketball Statistics for Each Team:
                               Team        mean  median  mode        std
20              BYU (Mountain West)    5.000000     5.0     5        NaN
205                   Louisville ()    8.000000     8.0     8        NaN
142                   Gonzaga (WCC)    8.833333     2.5     1  12.371766
482               Wichita St. (MVC)   13.857143     9.0     9  11.725024
465            Villanova (Big East)   14.111111     6.0     2  15.846486
..                              ...         ...     ...   ...        ...
443                   UTRGV (UTRGV)  320.000000   320.0   320        NaN
64        Chicago St. (Chicago St.)  322.000000   322.0   322        NaN
66                Chicago St. (WAC)  330.333333   340.0   340  32.733775
54   Centenary (LA) (Summit League)  335.000000   335.0   335        NaN
191          Lamar University (WAC)  350.000000   350.0   350        NaN

[493 rows x 5 columns]

In [ ]:
import pandas as pd

# List of file names
file_names = ['Womens Basketball 21-22 NCAA Statistics.xlsx', 'Womens Basketball 20-21 NCAA Statistics.xlsx',
              'Womens Basketball 19-20 NCAA Statistics.xlsx', 'Womens Basketball 18-19 NCAA Statistics.xlsx',
              'Womens Basketball 17-18 NCAA Statistics.xlsx', 'Womens Basketball 16-17 NCAA Statistics.xlsx',
              'Womens Basketball 15-16 NCAA Statistics.xlsx', 'Womens Basketball 14-15 NCAA Statistics.xlsx',
              'Womens Basketball 13-14 NCAA Statistics.xlsx', 'Womens Basketball 12-13 NCAA Statistics.xlsx',
              'Womens Basketball 11-12 NCAA Statistics.xlsx', 'Womens Basketball 10-11 NCAA Statistics.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Extract year from filename and prepend "20" to it
        year = "20" + file_name.split(' ')[-3].split('-')[0]

        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Add a column for the year extracted from the filename
        df['Year'] = year

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data_WB.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx

In [ ]:
import statistics

# Read the merged data
df = pd.read_excel("merged_data.xlsx")

# Group by team and calculate mean, median, mode, and standard deviation of rank
team_stats = df.groupby('Team')['Rank'].agg(['mean', 'median', lambda x: statistics.mode(x), 'std']).reset_index()

# Rename the lambda function column to 'mode'
team_stats = team_stats.rename(columns={'<lambda_0>': 'mode'})

# Sort by median rank in ascending order
team_stats = team_stats.sort_values(by='mean')

print("Womens Basketball Statistics for Each Team:")
print(team_stats)

Womens Basketball Statistics for Each Team:
                               Team        mean  median  mode       std
420                     UConn (AAC)    3.200000     1.0     1  3.359894
23                  Baylor (Big 12)    4.583333     3.0     3  4.907477
421                UConn (Big East)    6.000000     6.0    10  5.656854
334                       SFA (WAC)    8.000000     8.0     8       NaN
287                Notre Dame (AAC)    8.666667     6.0     1  9.291573
..                              ...         ...     ...   ...       ...
157                  Houston (CUSA)  329.000000   329.0   329       NaN
54   Centenary (LA) (Summit League)  331.000000   331.0   331       NaN
266       New Orleans (Independent)  333.000000   333.0   333       NaN
66                Chicago St. (WAC)  338.888889   340.0   331  8.880378
123              Florida A&M (SWAC)  341.000000   341.0   341       NaN

[488 rows x 5 columns]

In [ ]:
import pandas as pd

# List of file names
file_names = ['Mens Soccer 21-22 NCAA Statistics.xlsx', 'Mens Soccer 20-21 NCAA Statistics.xlsx',
              'Mens Soccer 19-20 NCAA Statistics.xlsx', 'Mens Soccer 18-19 NCAA Statistics.xlsx',
              'Mens Soccer 17-18 NCAA Statistics.xlsx', 'Mens Soccer 16-17 NCAA Statistics.xlsx',
              'Mens Soccer 15-16 NCAA Statistics.xlsx', 'Mens Soccer 14-15 NCAA Statistics.xlsx',
              'Mens Soccer 13-14 NCAA Statistics.xlsx', 'Mens Soccer 12-13 NCAA Statistics.xlsx',
              'Mens Soccer 11-12 NCAA Statistics.xlsx', 'Mens Soccer 10-11 NCAA Statistics.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Extract year from filename and prepend "20" to it
        year = "20" + file_name.split(' ')[-3].split('-')[0]

        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Add a column for the year extracted from the filename
        df['Year'] = year

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data_MS.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx

In [ ]:
import statistics

# Read the merged data
df = pd.read_excel("merged_data.xlsx")

# Group by team and calculate mean, median, mode, and standard deviation of rank
team_stats = df.groupby('Team')['Rank'].agg(['mean', 'median', lambda x: statistics.mode(x), 'std']).reset_index()

# Rename the lambda function column to 'mode'
team_stats = team_stats.rename(columns={'<lambda_0>': 'mode'})

# Sort by median rank in ascending order
team_stats = team_stats.sort_values(by='mean')

print("Mens Soccer Statistics for Each Team:")
print(team_stats)

Mens Soccer Statistics for Each Team:
                             Team        mean  median  mode        std
155                Maryland (ACC)    6.250000     7.0    10   4.112988
61                Creighton (MVC)   11.000000    11.0    11   9.000000
52   Coastal Carolina (Big South)   12.000000     9.5    11  10.695794
153              Marshall (C-USA)   15.333333    11.0    28  11.150486
43        Charlotte (Atlantic 10)   15.666667    17.0    17   3.214550
..                            ...         ...     ...   ...        ...
0               Adelphi (Adelphi)  196.000000   196.0   196        NaN
119          Howard (Independent)  198.000000   198.0   198        NaN
118               Howard (Howard)  198.000000   198.0   198        NaN
287                   VMI (SoCon)  198.125000   202.5   203  12.040853
5       Alabama A&M (Alabama A&M)  200.000000   200.0   200        NaN

[308 rows x 5 columns]

In [ ]:
import pandas as pd

# List of file names
file_names = ['Womens Soccer 21-22 NCAA Statistics.xlsx', 'Womens Soccer 20-21 NCAA Statistics.xlsx',
              'Womens Soccer 19-20 NCAA Statistics.xlsx', 'Womens Soccer 18-19 NCAA Statistics.xlsx',
              'Womens Soccer 17-18 NCAA Statistics.xlsx', 'Womens Soccer 16-17 NCAA Statistics.xlsx',
              'Womens Soccer 15-16 NCAA Statistics.xlsx', 'Womens Soccer 14-15 NCAA Statistics.xlsx',
              'Womens Soccer 13-14 NCAA Statistics.xlsx', 'Womens Soccer 12-13 NCAA Statistics.xlsx',
              'Womens Soccer 11-12 NCAA Statistics.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Extract year from filename and prepend "20" to it
        year = "20" + file_name.split(' ')[-3].split('-')[0]

        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Add a column for the year extracted from the filename
        df['Year'] = year

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data_WS.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx

In [ ]:
import statistics

# Read the merged data
df = pd.read_excel("merged_data.xlsx")

# Group by team and calculate mean, median, mode, and standard deviation of rank
team_stats = df.groupby('Team')['Rank'].agg(['mean', 'median', lambda x: statistics.mode(x), 'std']).reset_index()

# Rename the lambda function column to 'mode'
team_stats = team_stats.rename(columns={'<lambda_0>': 'mode'})

# Sort by median rank in ascending order
team_stats = team_stats.sort_values(by='mean')

print("Womens Soccer Statistics for Each Team:")
print(team_stats)

Womens Soccer Statistics for Each Team:
                                    Team        mean  median  mode        std
204                      Marquette (AAC)    8.500000     8.5     6   3.535534
85                          Denver (WAC)   13.000000    13.0    13        NaN
439                  West Virginia (AAC)   18.000000    18.0    18        NaN
113                    Florida St. (ACC)   18.272727    11.0     1  19.647345
432                       Virginia (ACC)   18.636364    16.0     6  18.375379
..                                   ...         ...     ...   ...        ...
38            CSU Bakersfield (Big West)  313.000000   313.0   313        NaN
322                 Saint Peter's (MAAC)  313.363636   316.0   318   7.839295
339  South Carolina St. (DI Independent)  313.400000   318.0   321  12.340989
56                     Chicago St. (WAC)  325.625000   327.5   326   8.830750
135                  Hampton (Big South)  328.000000   329.0   329   3.605551

[458 rows x 5 columns]

In [ ]:
import pandas as pd

# List of file names
file_names = ['Baseball 21-22 NCAA Statistics.xlsx', 'Baseball 20-21 NCAA Statistics.xlsx',
              'Baseball 19-20 NCAA Statistics.xlsx', 'Baseball 18-19 NCAA Statistics.xlsx',
              'Baseball 17-18 NCAA Statistics.xlsx', 'Baseball 16-17 NCAA Statistics.xlsx',
              'Baseball 15-16 NCAA Statistics.xlsx', 'Baseball 14-15 NCAA Statistics.xlsx',
              'Baseball 13-14 NCAA Statistics.xlsx', 'Baseball 12-13 NCAA Statistics.xlsx',
              'Baseball 11-12 NCAA Statistics.xlsx', 'Baseball 10-11 NCAA Statistics.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Extract year from filename and prepend "20" to it
        year = "20" + file_name.split(' ')[-3].split('-')[0]

        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Add a column for the year extracted from the filename
        df['Year'] = year

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data_BASE.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx

In [ ]:
import statistics

# Read the merged data
df = pd.read_excel("merged_data.xlsx")

# Group by team and calculate mean, median, mode, and standard deviation of rank
team_stats = df.groupby('Team')['Rank'].agg(['mean', 'median', lambda x: statistics.mode(x), 'std']).reset_index()

# Rename the lambda function column to 'mode'
team_stats = team_stats.rename(columns={'<lambda_0>': 'mode'})

# Sort by median rank in ascending order
team_stats = team_stats.sort_values(by='mean')

print("Baseball Statistics for Each Team:")
print(team_stats)

Baseball Statistics for Each Team:
                              Team        mean  median  mode        std
251           Old Dominion (C-USA)   19.000000    14.0    14  14.177447
333             Texas A&M (Big 12)   20.000000    20.0    15   7.071068
173               Louisville (ACC)   24.375000    13.5     2  30.042529
72                       DBU (DBU)   25.500000    25.5    25   0.707107
357               UConn (Big East)   25.500000    25.5     7  26.162951
..                             ...         ...     ...   ...        ...
59               Chicago St. (WAC)  283.142857   285.0   285   7.559289
197        Mississippi Val. (SWAC)  285.333333   289.5   294  12.815710
58               Chicago St. (GWC)  285.333333   287.0   288   3.785939
223      New Orleans (New Orleans)  293.000000   293.0   294   1.414214
227  New York Tech (New York Tech)  296.000000   296.0   296        NaN

[417 rows x 5 columns]

In [ ]:
import pandas as pd

# List of file names
file_names = ['Softball 21-22 NCAA Statistics.xlsx', 'Softball 20-21 NCAA Statistics.xlsx',
              'Softball 19-20 NCAA Statistics.xlsx', 'Softball 18-19 NCAA Statistics.xlsx',
              'Softball 17-18 NCAA Statistics.xlsx', 'Softball 16-17 NCAA Statistics.xlsx',
              'Softball 15-16 NCAA Statistics.xlsx', 'Softball 14-15 NCAA Statistics.xlsx',
              'Softball 13-14 NCAA Statistics.xlsx', 'Softball 12-13 NCAA Statistics.xlsx',
              'Softball 11-12 NCAA Statistics.xlsx', 'Softball 10-11 NCAA Statistics.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Extract year from filename and prepend "20" to it
        year = "20" + file_name.split(' ')[-3].split('-')[0]

        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Add a column for the year extracted from the filename
        df['Year'] = year

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data_SOFT.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx

In [ ]:
import statistics

# Read the merged data
df = pd.read_excel("merged_data.xlsx")

# Group by team and calculate mean, median, mode, and standard deviation of rank
team_stats = df.groupby('Team')['Rank'].agg(['mean', 'median', lambda x: statistics.mode(x), 'std']).reset_index()

# Rename the lambda function column to 'mode'
team_stats = team_stats.rename(columns={'<lambda_0>': 'mode'})

# Sort by median rank in ascending order
team_stats = team_stats.sort_values(by='mean')

print("Softball Statistics for Each Team:")
print(team_stats)

Softball Statistics for Each Team:
                                     Team        mean  median  mode       std
258                     Oklahoma (Big 12)    6.750000     3.0     1  9.900643
213                     Missouri (Big 12)    7.500000     7.5    12  6.363961
107                         Florida (SEC)    8.500000     7.0     7  6.775625
182                  Louisiana (Sun Belt)   11.750000     9.0     6  9.715264
357                          Tulsa (CUSA)   12.333333    14.0     4  7.637626
..                                    ...         ...     ...   ...       ...
309  Santa Clara (Pacific Coast Softball)  276.000000   274.0   284  7.211103
53         Centenary (LA) (Summit League)  278.000000   278.0   278       NaN
227           N.C. Central (N.C. Central)  284.500000   284.5   287  3.535534
222                Mount St. Mary's (NWC)  285.000000   285.0   285       NaN
43             CSU Bakersfield (Big West)  285.000000   285.0   280  7.071068

[422 rows x 5 columns]

In [ ]:
import pandas as pd

# List of file names
file_names = ['Mens Volleyball 21-22 NCAA Statistics.xlsx', 'Mens Volleyball 20-21 NCAA Statistics.xlsx',
              'Mens Volleyball 19-20 NCAA Statistics.xlsx', 'Mens Volleyball 18-19 NCAA Statistics.xlsx',
              'Mens Volleyball 17-18 NCAA Statistics.xlsx', 'Mens Volleyball 16-17 NCAA Statistics.xlsx',
              'Mens Volleyball 15-16 NCAA Statistics.xlsx', 'Mens Volleyball 14-15 NCAA Statistics.xlsx',
              'Mens Volleyball 13-14 NCAA Statistics.xlsx', 'Mens Volleyball 12-13 NCAA Statistics.xlsx',
              'Mens Volleyball 11-12 NCAA Statistics.xlsx', 'Mens Volleyball 10-11 NCAA Statistics.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Extract year from filename and prepend "20" to it
        year = "20" + file_name.split(' ')[-3].split('-')[0]

        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Add a column for the year extracted from the filename
        df['Year'] = year

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data_MV.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx

In [ ]:
import statistics

# Read the merged data
df = pd.read_excel("merged_data.xlsx")

# Group by team and calculate mean, median, mode, and standard deviation of rank
team_stats = df.groupby('Team')['Rank'].agg(['mean', 'median', lambda x: statistics.mode(x), 'std']).reset_index()

# Rename the lambda function column to 'mode'
team_stats = team_stats.rename(columns={'<lambda_0>': 'mode'})

# Sort by median rank in ascending order
team_stats = team_stats.sort_values(by='mean')

print("Mens Volleyball Statistics for Each Team:")
print(team_stats)

Mens Volleyball Statistics for Each Team:
                         Team       mean  median  mode       std
42   Long Beach St. (Big Ten)   3.000000     3.0     3       NaN
28          Hawaii (Big West)   3.400000     2.0     2  2.607681
43  Long Beach St. (Big West)   6.250000     3.0     1  8.057088
53                 NYU (EIVA)   7.000000     7.0     7       NaN
45      Loyola Chicago (MIVA)   7.363636     8.0     8  4.610265
..                        ...        ...     ...   ...       ...
23     Fort Valley St. (SIAC)  42.000000    42.0    42       NaN
30           Holy Names (N/A)  43.000000    43.0    43       NaN
84    Urbana (DI Independent)  45.000000    45.0    45       NaN
22       FDU (DI Independent)  45.000000    45.0    45       NaN
32        Kentucky St. (SIAC)  50.000000    50.0    50       NaN

[86 rows x 5 columns]

In [ ]:
import pandas as pd

# List of file names
file_names = ['Womens Volleyball 21-22 NCAA Statistics.xlsx', 'Womens Volleyball 20-21 NCAA Statistics.xlsx',
              'Womens Volleyball 19-20 NCAA Statistics.xlsx', 'Womens Volleyball 18-19 NCAA Statistics.xlsx',
              'Womens Volleyball 17-18 NCAA Statistics.xlsx', 'Womens Volleyball 16-17 NCAA Statistics.xlsx',
              'Womens Volleyball 15-16 NCAA Statistics.xlsx', 'Womens Volleyball 14-15 NCAA Statistics.xlsx',
              'Womens Volleyball 13-14 NCAA Statistics.xlsx', 'Womens Volleyball 12-13 NCAA Statistics.xlsx',
              'Womens Volleyball 11-12 NCAA Statistics.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Extract year from filename and prepend "20" to it
        year = "20" + file_name.split(' ')[-3].split('-')[0]

        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Add a column for the year extracted from the filename
        df['Year'] = year

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data_WV.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx

In [ ]:
import statistics

# Read the merged data
df = pd.read_excel("merged_data.xlsx")

# Group by team and calculate mean, median, mode, and standard deviation of rank
team_stats = df.groupby('Team')['Rank'].agg(['mean', 'median', lambda x: statistics.mode(x), 'std']).reset_index()

# Rename the lambda function column to 'mode'
team_stats = team_stats.rename(columns={'<lambda_0>': 'mode'})

# Sort by median rank in ascending order
team_stats = team_stats.sort_values(by='mean')

print("Womens Volleyball Statistics for Each Team:")
print(team_stats)

Womens Volleyball Statistics for Each Team:
                       Team        mean  median  mode        std
140            Hawaii (WAC)    2.000000     2.0     2        NaN
442      Western Ky. (CUSA)    5.571429     3.0     3   4.649629
443  Western Ky. (Sun Belt)    7.666667     3.0     3   8.082904
364          Texas (Big 12)    8.000000     6.0     6   3.346640
21                BYU (WCC)   13.545455    10.0     2  15.455508
..                      ...         ...     ...   ...        ...
298        Quinnipiac (NEC)  315.000000   315.0   320   7.071068
92    East Carolina (C-USA)  316.000000   316.0   316        NaN
180  Lamar University (WAC)  317.000000   317.0   317        NaN
58        Chicago St. (GWC)  318.500000   318.5   322   4.949747
329     Savannah St. (MEAC)  322.428571   325.0   326   5.798193

[457 rows x 5 columns]

In [ ]:
import pandas as pd

# List of file names
file_names = ['Mens Ice Hockey 21-22 NCAA Statistics.xlsx', 'Mens Ice Hockey 20-21 NCAA Statistics.xlsx',
              'Mens Ice Hockey 19-20 NCAA Statistics.xlsx', 'Mens Ice Hockey 18-19 NCAA Statistics.xlsx',
              'Mens Ice Hockey 17-18 NCAA Statistics.xlsx', 'Mens Ice Hockey 16-17 NCAA Statistics.xlsx',
              'Mens Ice Hockey 15-16 NCAA Statistics.xlsx', 'Mens Ice Hockey 14-15 NCAA Statistics.xlsx',
              'Mens Ice Hockey 13-14 NCAA Statistics.xlsx', 'Mens Ice Hockey 12-13 NCAA Statistics.xlsx',
              'Mens Ice Hockey 11-12 NCAA Statistics.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Extract year from filename and prepend "20" to it
        year = "20" + file_name.split(' ')[-3].split('-')[0]

        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Add a column for the year extracted from the filename
        df['Year'] = year

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data_MIH.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx

In [ ]:
import pandas as pd

# List of file names
file_names = ['Womens Ice Hockey 21-22 NCAA Statistics.xlsx', 'Womens Ice Hockey 20-21 NCAA Statistics.xlsx',
              'Womens Ice Hockey 19-20 NCAA Statistics.xlsx', 'Womens Ice Hockey 18-19 NCAA Statistics.xlsx',
              'Womens Ice Hockey 17-18 NCAA Statistics.xlsx', 'Womens Ice Hockey 16-17 NCAA Statistics.xlsx',
              'Womens Ice Hockey 15-16 NCAA Statistics.xlsx', 'Womens Ice Hockey 14-15 NCAA Statistics.xlsx',
              'Womens Ice Hockey 13-14 NCAA Statistics.xlsx', 'Womens Ice Hockey 12-13 NCAA Statistics.xlsx',
              'Womens Ice Hockey 11-12 NCAA Statistics.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Extract year from filename and prepend "20" to it
        year = "20" + file_name.split(' ')[-3].split('-')[0]

        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Add a column for the year extracted from the filename
        df['Year'] = year

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx

In [ ]:
import pandas as pd

# List of file names
file_names = ['merged_data_BASE.xlsx', 'merged_data_MB.xlsx', 'merged_data_MS.xlsx',
              'merged_data_MV.xlsx', 'merged_data_SOFT.xlsx', 'merged_data_WB.xlsx',
              'merged_data_WS.xlsx', 'merged_data_WV.xlsx']

# Initialize an empty list to store DataFrames
dfs = []

# Iterate through each file and read into a DataFrame
for file_name in file_names:
    try:
        # Read Excel file into DataFrame
        df = pd.read_excel(file_name)

        # Standardize column names here if necessary. For example:
        df.rename(columns={'Ã¯Â»Â¿Rank': 'Rank', 'W': 'Won', 'L': 'Loss', 'Lost': 'Loss', 'T': 'Tied', 'PCT': 'Pct', 'Pct': 'Pct', 'Pct.': 'Pct'}, inplace=True)

        # Append the DataFrame to the dfs list
        dfs.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames in the list
df = pd.concat(dfs, ignore_index=True)

# Write the merged DataFrame to a new Excel file
df.to_excel("merged_data.xlsx", index=False)

print("Merged data saved to merged_data.xlsx")

Merged data saved to merged_data.xlsx